.secTask{
    border-left: 3px solid white;
    margin-left: 1.1rem;

    > .secTask_Group{
        margin-left: 2rem;
        display: flex;
        align-items: center;

        > h5{
            margin-left: 1rem;
            word-break: break-all;
        }
    }
}