@import '@/assets/styles/veriables';

.mainPage{
    max-width: 90rem;
    margin: 0 auto;

    > .mainPage_container{
        padding: 0 7.25rem;
        box-sizing: border-box;

        > .mainPage_heading{
            margin-top: 1rem;
            
            > .mainPage_heading_text{
                font-size: 2rem;
                font-weight: 900;   
            }

            > .mainPage_heading_additional{
                font-weight: 400;
                font-size: 1rem;
            }
            
        }

        > .mainPage_taskList{
            margin-top: 2rem;

            > .mainPage_taskList_addTask{
                border: $accend-blue 4px solid;
                outline: none;
                background-color: white;
                font-family: Montserrat;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 600;
                color: $accend-blue;
                height: 3.5rem;
                width: 100%;
                border-radius: 1rem;
                transition: $animation-speed;
                cursor: pointer;

                &:active{
                    color: $dark-blue;
                    border: $dark-blue 4px solid;
                    transition: $animation-speed;
                }
            }
        }
    }
}