@import '@/assets/styles/veriables';

.taskPage{
    max-width: 90rem;
    margin: 0 auto;

    > .taskPage_listNameGroup{
        margin-top: 2rem;

        > h2{
            font-size: 2rem;
            font-weight: 700;
        }

        > .taskPage_listNameGroup_change{
            display: flex;
            align-items: center;
            height: 4rem;
            gap: 1rem;
        }


    }

    > .taskPage_aditionalGroup{
        margin-top: 1.5rem;

        > h3{
            font-size: 1.5rem;
            font-weight: 400;
            word-break: break-all;
        }

        > .taskPage_aditionalGroup_change{
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }

    > .taskPage_taskListGroup{
        margin-top: 1.5rem;

        > .taskPage_taskListGroup_heading{
            font-size: 2rem;
            font-weight: 700;
        }

        > .taskPage_taskListGroup_taskList{
            gap: 1rem;
            display: flex;
            flex-direction: column;
        }
    }

}

// для кнопок
button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $color-dark;
    color: white;
    font-family: Montserrat;
    font-size: 1.5rem;
    border: 3px solid white;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.5s;
    
    &:active{
        transition: 0.5s;
        background-color: $color-dark-active;
    }
}

// для инпута текста
input[type="text"]{
    flex: 1;
    height: 2rem;
    background-color: $color-dark;
    outline: none;
    border: none;
    border-bottom: white 3px solid;
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat;

    &::placeholder{
        font-family: Montserrat;
    }
}