// основные цвета сайта
$color-purple: #806491;
$color-light-red: #B9848C;
$color-sky-blue: #2F70AF;
$color-blue: #00457E;
$color-dark-blue: #02315E;
$color-dark: #282c34;

// основной размер шрифта
$main-font-size: 16px;

